a{
    text-decoration: none;
}

.btn{
    display: inline-block;
    background-color: black;
    color: #f3f3f3;
    border-radius: 20px;
    height: 60px;
    min-width: 200px;
    line-height: 60px;
    font-size: 1.2rem;
    text-align: center;
    cursor: pointer;

    &.btn-block{
        display: block;
    }
}

.mt-32px{
    margin-top: 32px;
}

.header{
    padding: 20px 0;
    .logo{
        img{
            max-height: 52px;
        }
    }
    .links{
        float: right;

        a{
            color: black;
            padding: 0 20px;
            font-size: 1.1rem;
        }

        .btn{
            transform: scale(0.8);
            text-transform: uppercase;
        }
    }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}